
@media (min-width: 486px) {
#name {
  font-size: 475%;
}

#city {
  font-size: 200%;
}
}
@media (max-width: 485px) {
  #name {
    font-size: 350%;
  }

  #city {
    font-size: 120%;
  }

  #links {
    justify-content: center;
    font-size: 100%;
  }
}

@media (min-width: 320px) {
  #nav {
    flex-wrap: wrap !important;
  }
}
